@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <style>
        /* --- Global Reset & Essentials --- */
    /* Makes images behave better in responsive layouts */
    img {
        max-width: 100%;
        height: auto;
    }

    /* --- Slider Specific CSS (id="slides-shop" class="cover-slides") --- */

    /* 1. Make the slider full screen height */
    .cover-slides {
        /* Full viewport height (100% of the screen height) */
        height: 100vh;
        /* Hide any overflow just in case */
        overflow: hidden;
        position: relative;
    }

    /* 2. Style the slide list container */
    .cover-slides .slides-container {
        height: 100%; /* Match parent height */
        width: 100%; /* Match parent width */
    }

    /* 3. Style each individual slide item (li) */
    .cover-slides .slides-container li {
        height: 100%; /* Match parent height */
        width: 100%; /* Match parent width */
        position: relative;
    }

    /* 4. Ensure slider images cover the entire slide area */
    .cover-slides .slides-container li img {
        /* Make image cover the entire li element */
        width: 100%;
        height: 100%;
        /* Key property: crops image to cover the container */
        object-fit: cover;
    }

    /* 5. Position and style the text container (the overlay) */
    .cover-slides .slides-container li .container {
        /* Full overlay area */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Center the row content using flexbox */
        display: flex;
        align-items: center; /* Vertical centering */
        justify-content: center; /* Horizontal centering (if needed) */
        z-index: 10; /* Ensure text is above the image */
    }

    /* Optional: Add a subtle overlay to help text stand out */
    .cover-slides .slides-container li::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* Darker semi-transparent overlay */
        z-index: 5; /* Below the text, above the image */
    }

    /* 6. Adjust text alignment for slide content (for better centering) */
    .cover-slides .slides-container li .row {
        width: 100%; /* Allow row to take full width of container */
    }

    .cover-slides .slides-container li .col-md-12 {
        /* Ensures text-left/center/right classes align the text inside the column */
        text-align: inherit;
    }

    /* --- Additional Sections (Categories, Products, Blog) --- */

    /* Ensure other sections have appropriate top/bottom padding */
    .categories-shop,
    .products-box,
    .latest-blog,
    .about-box-main {
        padding-top: 50px; /* Example padding */
        padding-bottom: 50px; /* Example padding */
    }

    /* Improve Category/Blog Image Responsiveness */
    .shop-cat-box img,
    .blog-img img {
        /* Set a specific height if you want all category boxes to be the same height */
        /* height: 250px;
        object-fit: cover; */
        /* For simple fluid behavior, keep it as is, or adjust box size */
        transition: transform 0.5s ease;
    }

    /* Optional: Hover effect for categories */
    .shop-cat-box:hover img {
        transform: scale(1.05);
    }
</style> *@
@* <div class="about-box-main">
    <div class="container">

        <h3>Home</h3>
        </div>
        </div> *@
<!-- Start Slider -->
 <div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
		<li class="text-left">
			<img src="~/images/project-images/banner-01.jpg" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn " style="background-color:dodgerblue" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
		<li class="text-center">
			<img src="~/images/project-images/banner-02.jpg" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn " style="background-color:dodgerblue" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
		<li class="text-right">
			<img src="~/images/project-images/banner-03.jpg" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn " style="background-color:dodgerblue" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div> 
<!-- End Slider -->
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/project-images/t-shirts-img.jpg" />
                    <a class="btn"style="background-color:dodgerblue" href="#">T-shirts</a>
                </div>
				<div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/project-images/shirt-img.jpg" />
                    <a class="btn " style="background-color:dodgerblue" href="#">Shirt</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/project-images/wallet-img.jpg" />
                    <a class="btn " style="background-color:dodgerblue" href="#">Wallet</a>
                </div>
				<div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/project-images/women-bag-img.jpg" />
                    <a class="btn " style="background-color:dodgerblue" href="#">Bags</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/project-images/shoes-img.jpg" />
                    <a class="btn " style="background-color:dodgerblue" href="#">Shoes</a>
                </div>
				<div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/project-images/women-shoes-img.jpg" />
                    <a class="btn " style="background-color:dodgerblue" href="#">Women Shoes</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- End Categories -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Products</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".top-featured">Top featured</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
						</div>
                        <img src="~/images/project-images/img-pro-01.jpg" class="img-fluid" alt="Image" />
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5> $7.79</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="new">New</p>
						</div>
                        <img src="~/images/project-images/img-pro-02.jpg" class="img-fluid" alt="Image" />
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5> $9.79</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
						</div>
                        <img src="~/images/project-images/img-pro-03.jpg" class="img-fluid" alt="Image" />
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5> $10.79</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
						</div>
                        <img src="~/images/project-images/img-pro-04.jpg" class="img-fluid" alt="Image" />
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5> $15.79</h5>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- End Products  -->
<!-- Start Blog  -->
<div class="latest-blog">
   <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>latest blog</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
					<div class="blog-img">
						
                        <img class="img-fluid" src="~/images/project-images/blog-img.jpg" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
					<div class="blog-img">
                        <img class="img-fluid" src="~/images/project-images/blog-img-01.jpg" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
					<div class="blog-img">
						<img class="img-fluid" src="~/images/project-images/blog-img-02.jpg" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- End Blog  -->
<!-- Start Instagram Feed  -->
<div class="instagram-box">
 <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
			<div class="ins-inner-box">
				<img src="~/images/project-images/instagram-img-01.jpg" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
			<div class="ins-inner-box">
				<img src="~/images/project-images/instagram-img-02.jpg" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
			<div class="ins-inner-box">
				<img src="~/images/project-images/instagram-img-03.jpg" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
			<div class="ins-inner-box">
				<img src="~/images/project-images/instagram-img-04.jpg" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
			<div class="ins-inner-box">
				<img src="~/images/project-images/instagram-img-05.jpg" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
			<div class="ins-inner-box">
				<img src="~/images/project-images/instagram-img-06.jpg" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
			<div class="ins-inner-box">
				<img src="~/images/project-images/instagram-img-07.jpg" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
			<div class="ins-inner-box">
				<img src="~/images/project-images/instagram-img-08.jpg" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
			<div class="ins-inner-box">
				<img src="~/images/project-images/instagram-img-09.jpg" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- End Instagram Feed  --> 
