@model NewCoreProject.Models.User
@{
    ViewData["Title"] = "Sign Up";
}

<h1 class="user-name mt-3" style="text-align:center;font-weight:800;font-size:50px">SignUp</h1>
<div class="auth-main">
    <div class="auth-wrapper v1" style="height:470px">
        <div class="card my-1" style="width:1000px;margin:auto">
            <div class="card-body" style="width:900px;margin:auto">
                <form asp-action="SignUp" asp-controller="Home" method="post">
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row g-3">
                        <div class="form-group col-md-4">
                            <label asp-for="Admin_Name" class="form-label"></label>
                            <input asp-for="Admin_Name" class="form-control" placeholder="Enter Your Full Name" required />
                            <span asp-validation-for="Admin_Name" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Admin_Email" class="form-label"></label>
                            <input asp-for="Admin_Email" class="form-control" placeholder="Enter Your Email" required />
                            <span asp-validation-for="Admin_Email" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Admin_Contact" class="form-label"></label>
                            <input asp-for="Admin_Contact" class="form-control" placeholder="Enter Your Contact Number" required />
                            <span asp-validation-for="Admin_Contact" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="form-group col-md-4 mt-4">
                            <label asp-for="Admin_Address" class="form-label"></label>
                            <input asp-for="Admin_Address" class="form-control" placeholder="Enter Your Address" required />
                            <span asp-validation-for="Admin_Address" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4 mt-4">
                            <label class="form-label">Password</label>
                            <div class="password-wrapper">
                                <input asp-for="Admin_Password" id="PasswordHash" class="form-control" type="password" placeholder="Enter Your Password" required />
                                <i class="fa-solid fa-eye toggle-eye" id="togglePassword" title="Show Password"></i>
                            </div>
                            <span asp-validation-for="Admin_Password" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4 mt-4">
                            <label class="form-label">Confirm Password</label>
                            <div class="password-wrapper">
                                <input type="password" name="passwordConfirm" id="confirmPassword" class="form-control" placeholder="Enter Your Password Again" required />
                                <i class="fa-solid fa-eye toggle-eye" id="toggleConfirm" title="Show Password"></i>
                            </div>
                            <div class="error-message text-danger" id="errorMessage" style="display:none;">Passwords do not match</div>
                        </div>

                        <div class="d-grid mt-4 col-md-5" style="margin:auto">
                            <button type="submit" class="btn btn-primary">Create Account</button>
                        </div>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p> Already have an account? <a asp-action="Login" asp-controller="Home" style="color:dodgerblue"> <b>Login here</b></a></p>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/js/MY_JS.js"></script>
